.todo-list {
    display: flex;
    flex: 0 0 400px;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.list-setter {
    display: flex;
}

.item-adder {
    display: flex;
    flex: 1;
    margin-bottom:5px;
}