.list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    border: 1pt solid black;
}

.complete-false {
    color: red;
}

.complete-true {
    color: green;
    text-decoration: line-through;
}

.list-item {
    display: flex;
    flex: 1;
}

.list-item-description {
    display:flex;
    flex: 1 1 400px;
}